/* CONFIG */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   /* COLORS */

   --styled-tt: aqua;
}

body {
   font-size: 1.6rem;
   font-family: "Open Sans", sans-serif;
}

.hide {
   display: none;
}

.show {
   display: block;
}

/* MOBILE HEADER */
header {
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 5rem;
   border-bottom: 0.2rem solid #ffff;
   box-shadow: 0 0.2rem 0.5rem;
   padding-bottom: 1rem;
}

h1 {
   font-size: 2.6rem;
}

h1 .styled-txt {
   color: var(--styled-tt);
}

img {
   width: 3.2rem;
   
}

.menu-img {
   border: none;
   background-color: #ffff;
}

#small-screen-content {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
}