/* CONFIG */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   /* COLORS */

   --styled-tt: aqua;
   --border-and-bg: #ffff;
}

body, button {
   font-size: clamp(1.4rem, 1.7rem, 1vw);
   font-family: "Open Sans", sans-serif;
}

.hide {
   display: none;
}

.show {
   display: block;
}

.styled-txt {
   color: var(--styled-tt);
}

img {
   width: clamp(2.6rem, 2.8rem, 3vw);
}

button {
   border: none;
   background-color: var(--border-and-bg);
   cursor: pointer;
   transition: 0.2s;
}

button:hover {
   color: var(--styled-tt);
   transform: scale(1.03);
}

li {
   list-style: none;
}

.tt {
   font-size: clamp(1.9rem, 2.5rem, 1vw);
   margin-left: 0.8rem;
}
/* MOBILE HEADER */
.large-screen {
   display: none;
}

header {
   border-bottom: 0.2rem solid var(--border-and-bg);
   box-shadow: 0 0.2rem 0.5rem;
   padding: 1rem 1rem 1rem 0;
}

.header-tt-btn {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.small-navigation-items .items {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   margin-top: 1rem;
   transition: 0.2s;
   gap: 0.5rem;

}

.item {
   padding: 0.5rem 0.5rem 0.5rem 1rem;
   transition: 0.2s;
   cursor: pointer;
   width: 100vw;
   letter-spacing: 0.2rem;
   
}

.item:hover {
   background-color: rgba(0, 255, 255, 0.048);
   color: var(--styled-tt);
   transform: translateX(0.4rem);
}



/* AT RULES */

@media (min-width: 568px) {
   .header-tt-btn, .small-navigation-items {
      display: none;
   }

   .large-screen {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .item {
      padding: 0rem;
      width: 8vw;
      letter-spacing: 0rem;
   }

   .item:hover {
      background-color: none;
      color: var(--styled-tt);
      transform: translateX(0rem);
   }


   .large-navigation-items {
      padding-right: 5rem;
   }

   .large-navigation-items .items, .social-media .social-items {
      display: flex;
      gap: 2rem;
   }

}